@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #121212;
  /* background: url('/src/assets/background.jpg') no-repeat center center, #121212; */
  background-size: cover;
}
