#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 1.5rem;
  border: thin solid rgba(0, 0, 0, 0.15);
  margin: 1rem;
  box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.02);
  border-radius: 0.5rem;
}
